{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": true,
  "semi": true,
  "useTabs": true,
  "tabWidth": 4,
  "jsxSingleQuote": false,
  "parser": "babel",
  "printWidth": 180,
  "singleAttributePerLine": false
}
